@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #f2f2f2;
  width: 1200px;
}

.circuit {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 138px;
}

.main-nav {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  margin: 0;
  padding: 0;
  margin-left: 59px;
  list-style-type: none;
}

.nav-user {
  max-width: 322px;
  margin-left: auto;
}

.nav-item {
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.link-nav {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 6px 12px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.link-nav:hover {
  color: #756257;
}

.link-nav:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.link-nav:active {
  color: #756257;
  opacity: 0.3;
}

.link-nav-current::before {
  position: absolute;
  right: 20px;
  bottom: -16px;
  left: 20px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.link-nav:hover path {
  fill: #756257;
}

.link-nav:focus path {
  fill: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.navigation-icon:active path {
  fill: #756257;
  opacity: 0.3;
}

.nav-user .link-nav:last-child {
  padding: 0;
  margin-right: 12px;
  margin-top: 9px;
}

.nav-user .nav-item:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
  margin-right: 20px;
}

.nav-user .nav-item:last-child {
  margin-top: 21px;
}

.link-nav-button {
  font-size: 16px;
  font-weight: 700;
  background-color: #756257;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;
  border-radius: 4px;
}

.link-nav-button:hover {
  background-color: #615048;
}

.link-nav-button:focus {
  background-color: #615048;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.link-nav-button:active {
  background-color: #615048;
}

.link-nav-button:active span {
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 78px;
}

.promo-first {
  background-image: url("../img/index/white_fone.svg"),
    url("../img/index/fone.jpg");
  background-position: bottom;
  background-color: #6158e0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.promo-second {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
}

.promo-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin-top: 62px;
  margin-bottom: 34px;
}

.description {
  margin: 0;
  margin-bottom: 79px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.features-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.feature-item {
  width: 400px;
  text-align: center;
}

.content-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.content-item {
  width: 400px;
  text-align: center;
}

.blue-point {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 17px;
}

.blue-bloc {
  text-align: center;
  background-color: #83b3d3;
  color: #ffffff;
  width: 400px;
}

.blue-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 98px;
  margin-bottom: 18px;
}

.light-bloc {
  text-align: center;
  background-color: #83b3d31f;
  width: 400px;
}

.light-bloc-house {
  padding-top: 89px;
}

.light-bloc-burger {
  padding-top: 91px;
}

.light-bloc-gift {
  padding-top: 85px;
}

.light-title-1 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 19px;
  margin: 0;
}

.light-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 99px;

  margin: 0;
}

.number {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 30px;
}

.title-description {
  padding-bottom: 90px;
  margin: 0;
}

.light-title-description {
  margin: 0;
  padding-bottom: 111px;
}

.road {
  text-align: center;
  background-color: #83b3d333;
  width: 400px;
}

.search {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.search-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 90px;
}

.point {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  padding-bottom: 58px;
}

.button-search {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  width: 575px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  margin-bottom: 91px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
  border: 3px solid #83b3d3;
}

.button-search:active {
  background-color: #615048;
}

.button-search:active span {
  opacity: 0.3;
}

.mailing {
  display: block;
  margin: 0 auto;
  background-image: url("../img/index/fonemail.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #495175;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
}

.mailing-info {
  margin: 0;
  padding-top: 28px;
}

.email-address {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 90px;
}

.field {
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  height: 60px;
  padding: 0;
  border: none;
  padding-left: 22px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.field:active {
  background-color: #ffffff;
  border: 2px solid #000000;
}

/*.field: {
  border: 2px solid #ff5757;
}*/

.button-mailing {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  background-color: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  width: 165px;
  height: 60px;
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-family: inherit;
}

.button-mailing:hover {
  background-color: #68a2ca;
}

.button-mailing:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
  border-radius: 0px 10px 10px 0px;
}

.button-mailing:active {
  background-color: #68a2ca;
}

.button-mailing:active span {
  opacity: 0.3;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-top: 45px;
}

.footer-social {
  margin-left: 72px;
  max-width: 150px;
  margin-right: 60px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
}

.social-item {
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: block;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-tw {
  background-image: url("../img/footer/twitter.svg");
  background-size: 18px 15px;
}

.footer-social-fb {
  background-image: url("../img/footer/facebook.svg");
  background-size: 10px 18px;
}

.footer-social-youtube {
  background-image: url("../img/footer/youtube.svg");
  background-size: 20px 16px;
}

.footer-social-tw:hover {
  background-image: url("../img/footer/social-twitter.svg");
  background-size: 18px 15px;
}

.footer-social-fb:hover {
  background-image: url("../img/footer/social-facebook.svg");
  background-size: 10px 18px;
}

.footer-social-youtube:hover {
  background-image: url("../img/footer/social-youtube.svg");
  background-size: 20px 16px;
}

.footer-social-tw:focus {
  background-image: url("../img/footer/social-twitter.svg");
  background-size: 18px 15px;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-social-fb:focus {
  background-image: url("../img/footer/social-facebook.svg");
  background-size: 10px 18px;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-social-youtube:focus {
  background-image: url("../img/footer/social-youtube.svg");
  background-size: 20px 16px;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-social-tw:active {
  background-image: url("../img/footer/social-twitter.svg");
  background-size: 18px 15px;
  opacity: 0.3;
}

.footer-social-fb:active {
  background-image: url("../img/footer/social-facebook.svg");
  background-size: 10px 18px;
  opacity: 0.3;
}

.footer-social-youtube:active {
  background-image: url("../img/footer/social-youtube.svg");
  background-size: 20px 16px;
  opacity: 0.3;
}

.footer-contacts {
  display: block;
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-phone:active {
  color: #756257;
  opacity: 0.3;
}

.website {
  margin-left: 53px;
  margin-right: 72px;
}
.websitelogo {
  width: 115px;
  height: 34px;
  padding: 19px 23px;
  margin: 0;
}

.websitelogo:hover path {
  fill: #756257;
}

.websitelogo:focus path {
  fill: #756257;
}

.websitelogo:focus {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.websitelogo:active path {
  fill: #756257;
  opacity: 0.3;
}

fieldset {
  border: 0 none;
}

.parameters {
  padding-top: 31px;
  padding-right: 72px;
  padding-bottom: 83px;
  padding-left: 71px;
  color: #ffffff;
  background-image: url("../img/catalog/fone_catalog.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  background-color: #495175;
}

.parameters-list-nav {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  display: flex;
}

.parameters-list-nav li {
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.parameters-list {
  margin: 0;
  padding: 0;
}

.parameters-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.from-main:hover {
  opacity: 0.6;
}

.from-main:hover {
  opacity: 0.3;
}

.from-main:focus {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.parameters-item-nav:hover {
  opacity: 0.6;
}

.parameters-item-nav:focus {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.parameters-item-nav:active {
  opacity: 0.3;
}

.parameters-item-nav {
  font-size: 16px;
}

.parameters-item {
  line-height: 23px;
  padding-bottom: 13px;
  padding-left: 35px;
}

.parameters-item:nth-child(3n) {
  padding-bottom: 0;
}

.parameters-form-infrastructure {
  padding: 0;
  width: 150px;
}

.parameters-form-type {
  padding: 0;
  width: 145px;
  margin-left: 67px;
  margin-right: 155px;
}

.price-controls input {
  padding: 5px 10px;
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 4px;
  line-height: 21px;
  width: 143px;
}

.parameters-form-cost {
  width: 287px;
  display: flex;
}

.parameters-button {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
  margin-top: 25px;
}

.button-apply {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #83b3d3;
  width: 160px;
  height: 48px;
  margin-top: 38px;
  margin-bottom: 15px;
  font-family: inherit;
  text-transform: uppercase;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus {
  background-color: #68a2ca;
  border: 3px solid #ffffff;
  border-radius: 4px;
}

.button-apply:active {
  background-color: #68a2ca;
}

.button-apply:active span {
  opacity: 0.3;
}

.button-reset {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  background: transparent;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  width: 100px;
  height: 32px;
  font-family: inherit;
  bottom: 0;
  margin-left: 32px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
}

.parameters-form {
  display: flex;
  justify-content: space-around;
}

.parameters-form legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 30px;
}

.sorting {
  display: flex;
  padding-top: 44px;
  padding-bottom: 35px;
  padding-left: 71px;
  padding-right: 72px;
}

.sorting-heading {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  width: 340px;
  margin: 0;

  padding: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.button:nth-child(3n) {
  margin-right: 0;
}

.button:hover {
  border: 2px solid #83b3d3;
}

.button:focus {
  border: 2px solid #83b3d3;
}

.button-current {
  border: 2px solid #000000;
}

.select-control {
  line-height: 23px;
  width: 290px;
  height: 48px;
  border: 2px solid #e6e6e6;
  background-color: #ffffff;
  color: #333333;
  padding-left: 19px;
  border-radius: 4px;
  margin-right: 65px;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.select-control:focus {
  border: 2px solid #83b3d3;
}

.select-control:active {
  border: 2px solid #e5e5e5;
}

.select-control:active span {
  opacity: 0.3;
}

.title-hotel {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.title-hotel:hover {
  color: #756257;
}

.title-hotel:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.title-hotel:active {
  color: #756257;
  opacity: 0.3;
}

.cost {
  margin: 0;
  margin-top: 1px;
  margin-bottom: 38px;
}

.container {
  margin-left: 72px;
  margin-right: 72px;
}

.container-list {
  line-height: 23px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-item {
  display: flex;
  border-top: 1px solid #e6e6e6;
}

.container-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.container-img {
  width: 180px;
  height: 120px;
  margin-top: 31px;
  margin-bottom: 29px;
  margin-right: 37px;
}

.container-img:hover {
  opacity: 0.6;
}

.container-img:focus {
  border: 3px solid #83b3d3;
}

.container-img:active {
  opacity: 0.3;
}

.bloc {
  margin-top: 25px;
  max-width: 500px;
}

.button-detailed {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #756257;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  margin-right: 8px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-detailed:hover {
  background-color: #615048;
}

.button-detailed:focus {
  background-color: #615048;
  border: 3px solid #83b3d3;
}

.button-detailed:active {
  background-color: #615048;
}

.button-detailed:active span {
  opacity: 0.3;
}

.button-favourites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
}

.button-favourites:hover {
  background-color: #68a2ca;
}

.button-favourites:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.button-favourites:active {
  background-color: #68a2ca;
}

.button-favourites:active span {
  opacity: 0.3;
}

.button-favourites-selected {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #7db54f;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 30px;
  border-radius: 4px;
}

.button-favourites-selected:hover {
  background-color: #6c9e42;
}

.button-favourites-selected:focus {
  background-color: #6c9e42;
  border: 3px solid #756257;
}

.button-favourites-selected:active {
  background-color: #6c9e42;
}

.button-favourites-selected:active span {
  opacity: 0.3;
}

.rating-img {
  margin: 0;
  padding: 0;
}

.rating {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 31px;
  margin-left: auto;
  padding-bottom: 29px;
}

.ratings {
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-align: center;
  color: #333333;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;
}

.pagination-show-more {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  width: 625px;
  height: 55px;
  margin-top: 29px;
  margin-bottom: 30px;
  padding: 0;
  font-family: inherit;
}

.pagination-container {
  display: flex;
  padding-top: 31px;
  padding-bottom: 89px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 13px 21px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68a2ca;
}

.pagination-link:active span {
  opacity: 0.3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.sorting-type {
  line-height: 23px;

  margin-left: auto;
}

.pagination-control {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  margin: 0;
  margin-top: 4px;
  margin-left: 47px;
  padding-left: 10px;
}

.mailing_catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.mailing_catalog h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
