@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #f2f2f2;
  width: 1200px;
}

.circuit {
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 138px;
}

.main-nav {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  margin: 0;
  padding: 0;
  margin-left: 59px;
  list-style-type: none;
}

.nav-user {
  max-width: 328px;
  margin-left: auto;
}

.nav-item {
  position: relative;
  margin-top: 15px;
  margin-bottom: 12px;
  margin-right: 10px;
}

.link-nav {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 6px 12px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.link-nav:hover {
  color: #756257;
}

.link-nav:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.link-nav:active {
  color: #756257;
  opacity: 0.3;
}

.link-nav-quantity {
  position: absolute;
  bottom: 52%;
  left: 55%;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #7db54f;
  color: #ffffff;
  font-size: 10px;
  line-height: 20px;
}

.link-nav-current::before {
  position: absolute;
  right: 12px;
  bottom: -13px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.link-nav:hover path {
  fill: #756257;
}

.link-nav:focus path {
  fill: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.magnifier {
  line-height: 18px;
}

.heart {
  line-height: 17px;
}

.navigation-icon:active path {
  fill: #756257;
  opacity: 0.3;
}

.nav-user .link-nav:first-child {
  padding: 7px;
}

.nav-user .nav-item:last-child {
  margin-top: 12px;
  margin-left: 12px;
}

.link-nav-button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  background-color: #756257;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 4px;
}

.link-nav-button:hover {
  background-color: #615048;
}

.link-nav-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.link-nav-button:active {
  background-color: #615048;
}

.link-nav-button:active span {
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 82px;
}

.promo-first {
  background-image: url("../img/index/white-fone.svg"),
    url("../img/index/fone.jpg");
  background-position: bottom;
  background-color: #608aba;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.promo-second {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
}

.promo-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin-top: 63px;
  margin-bottom: 34px;
}

.description {
  margin: 0;
  margin-bottom: 79px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  background-color: #83b3d3;
}

.features-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.feature-item {
  width: 400px;
  text-align: center;
}

.content-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.content-item {
  width: 400px;
  text-align: center;
}

.blue-point {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 18px;
}

.blue-block {
  text-align: center;
  background-color: #83b3d3;
  color: #ffffff;
  width: 400px;
}

.blue-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 98px;
  margin-bottom: 18px;
}

.light-block {
  text-align: center;
  background-color: #83b3d31f;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 384px;
}

.white-block {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 384px;
}

.light-block-house {
  display: block;
  background-position: center;
  background-image: url("../img/index/house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin-bottom: 23px;
}

.light-block-burger {
  display: block;
  background-position: center;
  background-image: url("../img/index/burger.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  margin-bottom: 23px;
}

.light-block-gift {
  display: block;
  background-position: center;
  background-image: url("../img/index/gift.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  margin-bottom: 23px;
}

.light-title-1 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 18px;
  margin: 0;
}

.light-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}

.number {
  padding-bottom: 28px;
  margin: 0;
}

.title-description {
  margin: 0;
}

.light-title-description {
  margin: 0;
  padding-bottom: 14px;
}

.road {
  text-align: center;
  background-color: #83b3d333;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 384px;
}

.search {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.search-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 86px;
}

.point {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 60px;
}

.button-search {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  width: 575px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 90px;
  border-radius: 10px;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.button-search:active {
  background-color: #615048;
}

.button-search:active span {
  opacity: 0.3;
}

.mailing {
  display: block;
  margin: 0 auto;
  background-image: url("../img/index/fonemail.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #5486ab;
  color: #ffffff;
}

.mailing-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
}

.mailing-info {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 48px;
}

.email-address {
  margin: 0;
}

.mailing-list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}

.field {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  height: 60px;
  width: 603px;
  border: none;
  padding-left: 21px;
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.field:focus:active:invalid {
  outline: none;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.field:active {
  background-color: #ffffff;
  border: 2px solid #000000;
}

.field:invalid {
  box-shadow: none;
  border: 2px solid #ff5757;
}

.field::placeholder {
  opacity: 0.6;
}

.button-mailing {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  background-color: #83b3d3;
  color: #ffffff;
  min-width: 200px;
  padding: 0;
  border-radius: 0 10px 10px 0;
}

.button-mailing:hover {
  background-color: #68a2ca;
}

.button-mailing:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
  border-radius: 0 10px 10px 0;
}

.button-mailing:active {
  background-color: #68a2ca;
}

.button-mailing:active span {
  opacity: 0.3;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding-top: 19px;
  padding-bottom: 44px;
}

.footer-social {
  margin-left: 61px;
  max-width: 150px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  width: 40px;
  height: 40px;
  margin-right: 3px;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: block;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-tw {
  background-image: url("../img/footer/twitter.svg");
  background-size: 18px 15px;
}

.footer-social-fb {
  background-image: url("../img/footer/facebook.svg");
  background-size: 10px 18px;
}

.footer-social-youtube {
  background-image: url("../img/footer/youtube.svg");
  background-size: 20px 16px;
}

.footer-social-tw:hover {
  background-image: url("../img/footer/social-twitter.svg");
  background-size: 18px 15px;
}

.footer-social-fb:hover {
  background-image: url("../img/footer/social-facebook.svg");
  background-size: 10px 18px;
}

.footer-social-youtube:hover {
  background-image: url("../img/footer/social-youtube.svg");
  background-size: 20px 16px;
}

.footer-social-tw:focus {
  background-image: url("../img/footer/social-twitter.svg");
  background-size: 18px 15px;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-social-fb:focus {
  background-image: url("../img/footer/social-facebook.svg");
  background-size: 10px 18px;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-social-youtube:focus {
  background-image: url("../img/footer/social-youtube.svg");
  background-size: 20px 16px;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-social-tw:active {
  background-image: url("../img/footer/social-twitter.svg");
  background-size: 18px 15px;
  opacity: 0.3;
}

.footer-social-fb:active {
  background-image: url("../img/footer/social-facebook.svg");
  background-size: 10px 18px;
  opacity: 0.3;
}

.footer-social-youtube:active {
  background-image: url("../img/footer/social-youtube.svg");
  background-size: 20px 16px;
  opacity: 0.3;
}

.footer-contacts {
  display: block;
  max-width: 500px;
  margin-left: 23px;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 15px;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.footer-phone:active {
  color: #756257;
  opacity: 0.3;
}

.website {
  margin-right: 49px;
}

.websitelogo {
  display: block;
  padding: 19px 23px;
  margin: 0;
}

.websitelogo:hover path {
  fill: #756257;
}

.websitelogo:focus path {
  fill: #756257;
}

.websitelogo:focus {
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.websitelogo:active path {
  fill: #756257;
  opacity: 0.3;
}

.parameters {
  padding-top: 31px;
  padding-right: 72px;
  padding-bottom: 79px;
  padding-left: 71px;
  color: #ffffff;
  background-image: url("../img/catalog/fone-catalog.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  background-color: #4a5f70;
}

.parameters-list-nav {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  display: flex;
}

.parameters-list-nav li {
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.parameters-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.parameters-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.from-main {
  width: 12px;
  height: 12px;
  padding: 0 5px 2px 5px;
}

.from-main:hover {
  opacity: 0.6;
}

.from-main:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.from-main:active {
  opacity: 0.3;
}

.parameters-item-nav:hover {
  opacity: 0.6;
}

.parameters-item-nav:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.parameters-item-nav:active {
  opacity: 0.3;
}

.parameters-item-nav {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 2px;
}

.parameters-item {
  line-height: 23px;
  padding-bottom: 13px;
  padding-left: 41px;
}

.parameters-item:nth-child(3n) {
  padding-bottom: 0;
}

.parameters-form-infrastructure {
  padding: 0;
  margin: 0;
  width: 150px;
  border: none;
}

.parameters-form-type {
  padding: 0;
  width: 145px;
  margin-left: 67px;
  margin-right: 167px;
  border: none;
}

.checkbox label::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 4px;
  left: -40px;
  top: 4px;
}

.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 12px;
  background-image: url("../img/catalog/checkboxon.svg");
  background-repeat: no-repeat;
  left: -36px;
  top: 8px;
}

.checkbox label {
  position: relative;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkbox input[type="checkbox"]:hover + label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.checkbox input[type="checkbox"]:focus + label::before {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.checkbox input[type="checkbox"]:active + label::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.radio input[type="radio"] {
  opacity: 0;
}

.radio label::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  left: -39px;
  top: 4px;
}

.radio label::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  left: -35px;
  top: 8px;
}

.radio label {
  position: relative;
}

.radio input[type="radio"] + label::after {
  content: none;
}

.radio input[type="radio"]:checked + label::after {
  content: "";
}

.radio input[type="radio"]:hover + label::before {
  background-color: #ffffff;
}

.radio input[type="radio"]:focus + label::before {
  outline: 3px solid #83b3d3;
}

.radio input[type="radio"]:active + label::before {
  background-color: #ffffff;
}

.parameters-form-cost {
  margin: 0;
  padding: 0;
  border: none;
}

.range {
  margin-top: 8px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 27px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.price-control {
  display: flex;
  justify-content: center;
}

.price-controls {
  position: relative;
  outline: none;
  background: none;
  height: 48px;
  width: 145px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  padding-top: 11px;
  padding-left: 18px;
  padding-bottom: 11px;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  font-family: inherit;
}

.price-controls.left {
  border-radius: 4px 0 0 4px;
}

.price-controls.right {
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.price-controls-label {
  position: relative;
  line-height: 23px;
}

.price-controls-label::before {
  content: "";
  position: absolute;
  top: 10px;
  opacity: 0.3;
  line-height: 23px;
  font-family: inherit;
}

.price-controls-label.right::before {
  content: "до";
  right: 17px;
}

.price-controls-label.left::before {
  content: "от";
  right: 13px;
}

.price-controls:focus,
:active {
  outline: none;
}

.price-controls:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.price-controls:focus {
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
}

.price-controls:active {
  background-color: #756257;
}

.price-controls::-webkit-outer-spin-button,
.price-controls::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.parameters-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 81px;
  margin-top: 25px;
}

.button-apply {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83b3d3;
  min-width: 160px;
  min-height: 48px;
  margin-top: 38px;
  margin-bottom: 15px;
  padding: 0;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus {
  background-color: #68a2ca;
  border: 3px solid #ffffff;
  border-radius: 4px;
  outline: none;
}

.button-apply:active {
  background-color: #68a2ca;
  color: rgba(225, 225, 225, 0.3);
}

.button-reset {
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  line-height: 23px;
  background: transparent;
  border-radius: 4px;
  color: #ffffff;
  min-width: 100px;
  min-height: 32px;
  padding: 0;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.button-reset:active {
  opacity: 0.3;
}

.parameters-form {
  display: flex;
  justify-content: space-between;
}

.parameters-form legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 30px;
}

.sorting {
  display: flex;
  padding-top: 43px;
  padding-bottom: 41px;
  padding-left: 71px;
  padding-right: 72px;
}

.sorting-heading {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  width: 340px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 367px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  width: 46px;
  height: 46px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.button:nth-child(4n) {
  margin-right: 0;
}

.button:hover {
  border: 2px solid #83b3d3;
}

.button:focus {
  border: 2px solid #83b3d3;
}

.button-current {
  border: 2px solid #000000;
}

.select-control {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 17px;
  margin-right: 84px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  background-color: #ffffff;
  color: #333333;
  background-image: url("../img/catalog/sorting.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  appearance: none;
  border-radius: 4px;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.select-control:focus {
  border: 2px solid #83b3d3;
}

.select-control:active {
  border: 2px solid #e6e6e6;
  opacity: 0.3;
}

.title-hotel {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.title-hotel:hover {
  color: #756257;
}

.title-hotel:focus {
  color: #756257;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.title-hotel:active {
  color: #756257;
  opacity: 0.3;
}

.cost {
  display: flex;
  justify-content: space-between;
  width: 235px;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 32px;
}

.container {
  margin-left: 72px;
  margin-right: 72px;
}

.container-list {
  line-height: 23px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-item {
  display: flex;
  border-top: 1px solid #e6e6e6;
}

.container-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.container-img {
  width: 180px;
  height: 120px;
  margin-top: 31px;
  margin-bottom: 29px;
  margin-right: 37px;
}

.container-img:hover {
  opacity: 0.6;
}

.container-img:focus {
  border: 3px solid #83b3d3;
}

.container-img:active {
  opacity: 0.3;
}

.block {
  margin-top: 27px;
  max-width: 500px;
}

.button-detailed {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #756257;

  color: #ffffff;
  border-radius: 4px;
  margin: 0;
  margin-right: 1px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 32px;
  padding-right: 32px;
}

.button-detailed:hover {
  background-color: #615048;
}

.button-detailed:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.button-detailed:active {
  background-color: #615048;
}

.button-detailed:active span {
  opacity: 0.3;
}

.button-favourites {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  background-color: #83b3d3;
  line-height: 21px;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 31px;
  padding-right: 31px;
  border-radius: 4px;
}

.button-favourites:hover {
  background-color: #68a2ca;
}

.button-favourites:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-favourites:active {
  background-color: #68a2ca;
}

.button-favourites:active span {
  opacity: 0.3;
}

.button-favourites-selected {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #7db54f;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 4px;
}

.button-favourites-selected:hover {
  background-color: #6c9e42;
}

.button-favourites-selected:focus {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}

.button-favourites-selected:active {
  background-color: #6c9e42;
}

.button-favourites-selected:active span {
  opacity: 0.3;
}

.rating-img {
  position: relative;
  width: 50%;
}

.rating-img::before {
  content: "";
  position: absolute;

  background-image: url("../img/catalog/star.svg");
  background-repeat: space;
  background-size: 18px 17px;
}

.rating-img-4::before {
  width: 89px;
  height: 17px;
  transform: translateX(-5px);
}

.rating-img-3::before {
  width: 68px;
  height: 17px;
  transform: translateX(5px);
}

.rating-img-2::before {
  width: 43px;
  height: 17px;
  transform: translateX(18px);
}

.rating {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 33px;
  margin-left: auto;
  padding-bottom: 29px;
}

.ratings {
  font-size: 16px;
  background-color: #f2f2f2;
  text-align: center;
  color: #333333;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.pagination-show-more {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  width: 625px;
  margin-top: 31px;
  margin-bottom: 30px;
  padding-top: 14px;
  padding-bottom: 15px;
  font-family: inherit;
}

.pagination-container {
  display: flex;
  padding-top: 31px;
  padding-bottom: 78px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68a2ca;
}

.pagination-link:active span {
  opacity: 0.3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.sorting-type {
  line-height: 23px;
  margin-left: auto;
  max-width: 390px;
}

.pagination-control {
  border: 2px solid #e6e6e6;
  background-color: #ffffff;
  color: #333333;
  border-radius: 4px;
  width: 160px;
  padding-top: 9px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 4px;
  margin-left: 47px;
  font: inherit;
  background-image: url("../img/catalog/sorting.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.mailing-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 46px;
}

.mailing-catalog h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.popover {
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  min-height: 232px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: none;
}

.popover-content-vector {
  position: absolute;
  width: 20px;
  height: 9px;
  top: -7.5%;
  left: 50%;
  margin-left: -13px;
}

.popover-content p {
  margin: 0;
}

.popover-open {
  display: block;
}

.popover-button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 21px;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  color: #ffffff;
  background-color: #756257;
  border-radius: 0 0 20px 20px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 9px;
  width: 400px;
}

.popover-content {
  height: 100%;
}

.cart-item {
  display: flex;
}

.cart-item-title {
  line-height: 23px;
  font-weight: 700;

  padding-left: 9px;
  margin: 0;
  color: #000000;
}

.cart-item-type {
  margin: 0;
  padding-left: 9px;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.hotel {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.cart-item-button {
  display: block;
  margin-top: 13px;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  padding: 0;
  border: none;
  background-position: center;
  background-color: transparent;
  margin-left: auto;
  background-image: url("../img/popover/basket.svg");
  background-repeat: no-repeat;
}

.cart-items-list {
  padding: 6px;
}

.cart-item-img:hover,
.hotel:hover {
  opacity: 0.6;
}

.popover-block {
  text-decoration: none;
  display: flex;
  padding: 10px 10px 10px 15px;
  margin-top: 7px;
}

.popover-block:focus {
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.cart-item-img:active img,
.hotel:active {
  opacity: 0.3;
}

.cart-item-button:hover {
  background-image: url("../img/popover/basket-black.svg");
  background-size: 16px 16px;
}

.cart-item-button:focus {
  border: 3px solid #83b3d3;
  background-image: url("../img/popover/basket-black.svg");
  background-size: 16px 16px;
  border-radius: 10px;
}

.cart-item-button:active {
  opacity: 0.1;
}

.popover-button:hover {
  background-color: #615048;
}

.popover-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.popover-button:active {
  background-color: #615048;
}

.popover-button:active span {
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding-top: 62px;
  padding-bottom: 70px;
  padding-left: 68px;
  padding-right: 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  width: 577px;
}

.modal-close {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #f2f2f2;
  background-image: url("../img/modal/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 53px;
  height: 53px;
}

.modal-close:hover {
  background-color: #e6e6e6;
}

.modal-close:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.modal-close:active {
  background-color: #e6e6e6;
  border: none;
}

.modal-close:active img {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  padding-bottom: 63px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.info {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 11px;
  left: 467px;
  padding: 0;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
}

.inform {
  font-family: inherit;
  font-weight: 400;
}

.popover-info {
  position: absolute;
  top: 70.8%;
  right: 14.7%;
  z-index: 1;
  box-sizing: border-box;
  width: 256px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 22px;
  padding-right: 18px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  min-height: 143px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.popover-vector {
  position: absolute;
  width: 19px;
  height: 9px;
  top: 67.5%;
  left: 61%;
  margin-top: 1px;
  margin-left: 36px;
}

.date-text {
  line-height: 40px;
  font-weight: 700;
  margin-right: 47px;
}

.date-text-children {
  line-height: 40px;
  font-weight: 700;
  margin-right: 25px;
  margin-left: 55px;
}

.date-picker {
  margin: 0;
  padding-left: 19px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 40px;
  font-family: inherit;
  font-weight: 700;
  color: #000000;
  width: 399px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.date-picker:hover {
  background-color: #e6e6e6;
}

.date-picker:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  border: none;
}

.date-picker:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  border: none;
}

.search-item {
  margin: 0;
}

.calendar-departure {
  position: absolute;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  top: 48%;
  left: 84.5%;
  opacity: 0.3;
}

.calendar-arrival {
  position: absolute;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  top: 31.8%;
  left: 84.5%;
  opacity: 0.3;
}

.calendar-departure:focus,
.calendar-arrival:focus {
  outline: none;
}

.correction {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 21px;
  margin-left: 156px;
}

.correction-check-in {
  color: #ff5757;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 17px;
  margin-left: 156px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  width: 113px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-left: 28px;
}

.input-adults,
.input-children {
  background: transparent;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  color: #000000;
  border: none;
  width: 25px;
  padding: 0;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 8px;
}

.input-adults::-webkit-outer-spin-button,
.input-adults::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-children::-webkit-outer-spin-button,
.input-children::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-adults:focus,
.input-children:focus {
  outline: none;
}

.minus,
.plus {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.minus svg {
  padding: 12px 6px;
}

.plus svg {
  padding: 6px;
}

.minus:hover path {
  fill: #000000;
  opacity: 1;
}

.plus:hover g {
  fill: #000000;
  opacity: 1;
}

.minus:focus svg,
.plus:focus svg {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.minus:active path {
  fill: #000000;
  opacity: 0.2;
}

.plus:active g {
  fill: #000000;
  opacity: 0.2;
}

.minusplus:hover path {
  fill: #000000;
}

.minusplus:focus {
  color: #000000;
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.minusplus:active path {
  fill: #000000;
  opacity: 0.2;
}

.controls-wrap {
  display: flex;
}

.button-blue {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 575px;
  background-color: #83b3d3;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin-top: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-blue:active {
  background-color: #68a2ca;
}

.button-blue:active span {
  opacity: 0.3;
}
