@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #f2f2f2;
  width: 1200px;
}

.circuit {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-nav {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 138px;
}

.nav-user {
  max-width: 300px;
  margin-left: auto;
}

.list-nav .nav-user {
  min-width: 31px;
  min-height: 27px;
}

.link-nav {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.promo-first {
  background-image: url("../img/index/white_fone.svg"),
    url("../img/index/fone.jpg");
  background-position: bottom;
  background-color: #6158e0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.promo-second {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
}

.promo-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin-top: 63px;
  margin-bottom: 23px;
}

.description {
  margin: 0;
  margin-bottom: 79px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.feature-item {
  width: 400px;
  text-align: center;
}

.content-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.content-item {
  width: 400px;
  text-align: center;
}

.blue-bloc {
  text-align: center;
  background-color: #83b3d3;
  color: #ffffff;
  width: 400px;
}

.blue-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 98px;
}

.light-bloc {
  text-align: center;
  background-color: #83b3d31f;
  width: 400px;
}

.light-bloc-house {
  padding-top: 89px;
}

.light-bloc-burger {
  padding-top: 91px;
}

.light-bloc-gift {
  padding-top: 85px;
}

.light-title-1 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 23px;
  margin: 0;
}

.light-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 98px;
  margin: 0;
}

.title-description {
  padding-bottom: 79px;
  margin: 0;
}

.light-title-description {
  margin: 0;
  padding-bottom: 77px;
}

.road {
  text-align: center;
  background-color: #83b3d333;
  width: 400px;
}

.search {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.search-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 91px;
}

.point {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 57px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  width: 575px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 17px;
  margin-bottom: 91px;
  border-radius: 10px;
}

.mailing {
  display: block;
  margin: 0 auto;
  background-image: url("../img/index/fonemail.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #495175;
  color: #ffffff;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
}

.mailing-info {
  margin: 0;
  padding-top: 28px;
}

.email-address {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 93px;
}

.field {
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  height: 60px;
  padding: 0;
  border: none;
  padding-left: 22px;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
}

.button-mailing {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  background-color: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;

  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.social-item {
  width: 20px;
  height: 20px;
  padding-right: 30px;
  padding-bottom: 5px;
}

.footer-social {
  max-width: 150px;
  margin-right: 61px;
  margin-left: 72px;
}

.footer-contacts {
  max-width: 720px;
  margin: 0;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.website {
  margin-left: 53px;
  margin-right: 72px;
}

.parameters {
  padding-top: 26px;
  padding-right: 73px;
  padding-bottom: 8px;
  padding-left: 72px;
  color: #ffffff;
  background-image: url("../img/catalog/fone_catalog.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
  background-color: #495175;
}

.parameters-list-nav {
  margin: 0;
  padding: 0;
  padding-left: 73px;
  padding-top: 5px;
  padding-bottom: 45px;
  list-style: none;
  display: flex;
}

.parameters-list-nav li {
  padding-right: 10px;
}

.parameters-list {
  list-style: none;
}

.parameters-title {
  margin: 0;
  padding-top: 30px;
  padding-left: 71px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.parameters-item {
  font-size: 16px;
}

.parameters-form-fieldset {
  width: 150px;
  margin-right: 67px;
  margin-bottom: 83px;
  padding: 0;
}

.parameters-button {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
}

.button-apply {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

  color: #ffffff;
  background-color: #83b3d3;
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  background: transparent;

  color: #ffffff;
  border: none;
  width: 160px;
  height: 23px;
}

.parameters-form {
  display: flex;
  justify-content: space-around;
}

.parameters-form-fieldset legend {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
}

.parameters-item {
  margin-bottom: 25px;

  font-size: 14px;

  padding: 0px;
}

.sorting {
  display: flex;
}

.sorting-heading {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  width: 340px;
  margin: 0;
  margin-top: 50px;
  margin-right: 190px;
  margin-left: 71px;
  padding: 0;
}

.button {
  margin-top: 44px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.select-control {
  line-height: 23px;
  width: 290px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  margin-top: 44px;
  margin-bottom: 42px;
  margin-right: 81px;
  padding-left: 19px;
}

.title-hotel {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.cost {
  margin: 0;
  margin-top: 1px;
  margin-bottom: 31px;
}

.container {
  margin-left: 72px;
  margin-right: 72px;
}

.container-list {
  line-height: 23px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-item {
  display: flex;
  border-top: 1px solid #e6e6e6;
}

.container-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.container-img {
  width: 180px;
  height: 120px;
  margin-top: 31px;
  margin-bottom: 30px;
  margin-right: 37px;
}

.bloc {
  margin-top: 28px;

  max-width: 500px;
}

.button-detailed {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #756257;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  margin-right: 8px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-favourites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
}

.button-favourites-selected {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #7db54f;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
}
.rating-img {
  margin: 0;
}

.rating {
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  margin-top: 34px;
  margin-left: auto;

  margin-bottom: 30px;
}

.ratings {
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
  text-align: center;
  color: #333333;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 63px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 29px;
}

.pagination-show-more {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  background-color: #83b3d3;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  width: 625px;
  height: 55px;
  margin-top: 31px;
  margin-bottom: 30px;
  padding: 0;
}

.pagination-container {
  display: flex;
  padding-top: 31px;
  padding-bottom: 89px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 17px 19px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.sorting-type {
  line-height: 23px;

  margin-left: auto;
}

.pagination-control {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  margin: 0;
  padding-left: 17px;
}

.mailing_catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.mailing_catalog h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
